.App {
	width: 100%;
}

.App-body {
	max-width: 1140px;
	min-height: calc(100vh - 75px);
	margin: auto;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
	background-color: #f4f4f6;
}
