.JobCard {
	margin: 20px;
	padding: 20px;
	border-radius: 14px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-decoration: none;
	display: block;
	color: black;
	background-color: white;
}

.JobCard-companyName {
	font-size: 0.9em;
}

.JobCard-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.3em;
}

.JobCard-body {
	display: flex;
	justify-content: space-between;
}
.JobCard-description p {
	margin: 0;
}
.JobCard-body .JobCard-apply {
	margin: 0;
}

.JobCard hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
