.App {
	width: 100%;
}

.full-width {
	max-width: none;
}

.App-button {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 1.2em;
	border-radius: 5px;
	border: none;
	margin: 10px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.App-button:hover {
	transform: scale(1.02);
	box-shadow: 1px 1px 3px #555;
}

.App-button:active {
	transform: scale(0.98);
	box-shadow: none;
}

.App-button.success {
	background-color: #5ee3cd;
}

.App-button.danger {
	background-color: #ff4c4c;
}
