.SearchForm {
	width: 100%;
}

.SearchForm input {
	margin: auto;
	width: 50%;
	min-width: 300px;
	padding: 20px;
	border-radius: 14px;
	border: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-decoration: none;
	display: block;
	color: black;
	font-size: 1.1rem;
	font-family: "Inter", sans-serif;
}

.SearchForm input:focus {
	outline: none; /* remove the default focus outline */
	border-color: #5ee3cd; /* change the border color on focus */
	box-shadow: 0 0 0 0.2rem #5ee3cd40; /* add a custom focus shadow */
}
