.FlashMessage {
	padding: 10px;
	border-radius: 14px;
	margin: 10px auto 10px auto;
	width: 50%;
	min-width: 300px;
	text-align: center;
	font-weight: 600;
	font-size: 0.9em;
}

.FlashMessage.success {
	box-shadow: #5ee3cd5a 0px 7px 29px 0px;
	background-color: #5ee3cd87;
}

.FlashMessage.danger {
	box-shadow: #ff4c4c5a 0px 7px 29px 0px;
	background-color: #ff4c4c87;
}
